<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Survey Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/style.css">

</head>

<body id="surveybody">

    <div class="container survey">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <br>
                    <h3 class="text-center">What are you in the mood for?</h3>

                    <div class="panel-body">
                        <form>
                            <h6>Make Up a Name for Your Night (Required)</h6>
                            <input type="text" placeholder="Ex: Hot-n-Steamy" style="width:300px; height:25px" name="" id="nameEvent"
                                class="form-control" required>
                            <br>

                            <h6>Your Zipcode (Required)</h6>
                            <input type="text" style="width:100px; height:25px" name="" id="zipcode"
                                class="form-control" required>
                            <br>
                            <h6>Would you rather watch the sunset or hit the shooting range?</h6>
                            <select data-placeholder="" class="chosen-select" id="q1">
                                <option selected="selected" value="">Choose answer...</option>
                                <option value="1">Watch the Sunset.</option>
                                <option value="2">Go to the Shooting Range.</option>
                                <option value="3">Too Boring! Laugh hysterically is more my style.</option>

                            </select>
                            <br><br>

                            <h6>You are throwing a party for the holidays, what food would you serve?</h6>
                            <select data-placeholder="" class="chosen-select" id="q2">
                                <option selected="selected" value="">Choose answer...</option>
                                <option value="meat">Meat!</option>
                                <option value="fruit">Fruit!</option>
                                <option value="saladandveggies">Salad and Veggies!</option>
                            </select>
                            <br><br>

                            <h6>If you could be any where in the world where would you be?</h6>
                            <select data-placeholder="" class="chosen-select" id="q3">
                                <option selected="selected" value="">Choose answer...</option>
                                <option value="paris">Paris</option>
                                <option value="london">London</option>
                                <option value="amazon">The Amazon Jungle</option>
                                <option value="everest">Mt. Everest</option>
                            </select>
                            <br><br>

                            <h6>You don’t need a silver fork to eat good food!</h6>
                            <select data-placeholder="" class="chosen-select" id="q4">
                                <option selected="selected" value="">Choose answer...</option>
                                <option value="yes">True</option>
                                <option value="no">Wrong! Utensils are created for a reason!</option>
                            </select>
                            <br><br>

                            <h6>If your life was a movie how would it play out?</h6>
                            <select data-placeholder="" class="chosen-select" id="q5">
                                <option selected="selected" value="">Choose answer...</option>
                                <option value="action">Action since birth!</option>
                                <option value="comedy">Laughing ever since my eyes just opened!</option>
                                <option value="soap">Dramatic and full of plot-twists!</option>
                            </select>
                            <br>

                            <button type="submit" id="surveysubmit">Submit</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <!-- Modal -->
        <div id="resultsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h2 class="modal-title"><strong>Your most compatible friend</strong></h2>
                    </div>
                    <div class="modal-body">
                        <h2 id="matchName"></h2>
                    </div>
                    <div class="modal-footer">
                        <a href="/"><button type="button" class="btn btn-lg btn-primary"><span
                                    class="glyphicon glyphicon-home"></span> Close</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="https://use.fontawesome.com/0bf9ac1b8c.js"></script>

    <!-- jQuery Reference -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
        
        

        <!-- // Grab the URL of the website
        // var currentURL = window.location.origin;
        // Capture the form inputs -->
        <script>
            $("#surveysubmit").on("click", function () {
                event.preventDefault();
                var userLocation = $("#zipcode").val().trim();
                $(location).attr('href', `/api/result/${userLocation}`)
            });
        </script>
 

    </script> -->

</body>

</html>